{% extends 'imcookingdb/base.html' %}

{% block content %}
<style>
.button {
  font: 18px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  cursor:pointer;
}
</style>
    <h2>New Recipe</h2>
    <!-- <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-secondary">Save</button>
    </form> -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ recipe_form.as_p }}
        <fieldset id="Ingredients">
            <legend>Ingredients</legend>
            <!-- {{ ingredient_formset.management_form }}
            {% for ingredient_form in ingredient_formset %}
                {{ ingredient_form.as_p }}           
            {% endfor %} -->
            {{ ingredient_formset.management_form }}
            {% for ingredient_form in ingredient_formset %}
            <div id="{{ forloop.counter }}_ingredientDiv" style="display: none;">
                <p id="{{ forloop.counter }}_ingredient" >{{ forloop.counter }}.{{ ingredient_form.Amount }}          {{ ingredient_form.type }}         {{ ingredient_form.name }}</p>
              
            </div>
            {% endfor %}
            <div style="margin-top: 32px;margin-bottom: 32px;">
                <a onclick="addIngredientButton()"  class="button" >Add More</a>
                <a onclick="deleteIngredientButton()"  class="button">Delete</a>
            </div>
           
           
        </fieldset>
        <fieldset id="Steps">
            <legend>Steps</legend>
             {{ step_formset.management_form }}
    {% for step_form in step_formset %}
    <div id="{{ forloop.counter }}_stepDiv" style="display: none;">
        <p>{{ forloop.counter }}. {{ step_form.description }}</p>
    </div>
    {% endfor %}

    <div style="margin-top: 32px;margin-bottom: 32px;">
        <a onclick="addStepButton()" class="button">Add More</a>
        <a onclick="deleteStepButton()" class="button">Delete</a>
    </div>
    
   
        </fieldset>
        <button type="submit">Submit Recipe</button>
    </form>

 

    <script>
        for(var i=1;i<4;i++){
            document.getElementById(i.toString()+"_ingredientDiv").style.display = "block";
            document.getElementById(i.toString()+"_stepDiv").style.display = "block";
        }

        function addIngredientButton(){
            var array=document.getElementById("Ingredients").getElementsByTagName("div")
            for(var i=0;i<array.length;i++){
                if(array[i].style.display=="none"){
                    array[i].style.display="block";
                    break;
                }
            }
        }

        function deleteIngredientButton(id){
            var array=document.getElementById("Ingredients").getElementsByTagName("div")
            var checkCount=0;
            for(var i=0;i<array.length;i++){
                if(array[i].style.display=="none"){
                    if(checkCount>1){
                        array[i-1].style.display="none";
                        document.getElementById("id_ingredients-"+(i-1)+"-name").value="";
                        break;
                    }
                    else{
                        break;
                    }
                }
                checkCount++;
            }
        }



        function addStepButton(){
            var array=document.getElementById("Steps").getElementsByTagName("div")
            for(var i=0;i<array.length;i++){
                if(array[i].style.display=="none"){
                    array[i].style.display="block";
                    break;
                }
            }
        }

        function deleteStepButton(id){
            var array=document.getElementById("Steps").getElementsByTagName("div")
            var checkCount=0;
            for(var i=0;i<array.length;i++){
                if(array[i].style.display=="none"){
                    if(checkCount>1){
                        array[i-1].style.display="none";
                        document.getElementById("id_steps-"+(i-1)+"-description").value="";
                        break;
                    }
                    else{
                        break;
                    }
                }
                checkCount++;
            }
        }

    </script>






{% endblock %}

