{% extends 'imcookingdb/base.html' %}

{% block content %}
    <h2>New Recipe</h2>
    <!-- <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-secondary">Save</button>
    </form> -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ recipe_form.as_p }}
        <fieldset>
            <legend>Ingredients</legend>
            <!-- {{ ingredient_formset.management_form }}
            {% for ingredient_form in ingredient_formset %}
                {{ ingredient_form.as_p }}           
            {% endfor %} -->
            {{ ingredient_formset.management_form }}
            {% for ingredient_form in ingredient_formset %}
                <p>{{ forloop.counter }}. {{ ingredient_form.name }}</p>
            {% endfor %}
        </fieldset>
        <fieldset>
            <legend>Steps</legend>
             {{ step_formset.management_form }}
    {% for step_form in step_formset %}
        <p>{{ forloop.counter }}. {{ step_form.description }}</p>
    {% endfor %}
        </fieldset>
        <button type="submit">Submit Recipe</button>
    </form>







{% endblock %}

