{% extends 'imcookingdb/base.html' %}

{% block content %}
    <!-- <article class="Recipe">
        {% if recipes.published_date %}
            <time class="date">
                {{ recipes.published_date }}
            </time>
        {% endif %}
        <h2>{{ recipes.RecipeTitle }}</h2>
        <p>{{ recipes.RecipeIngredients|linebreaksbr }}</p>
        <p>{{ recipes.RecipeSteppes|linebreaksbr }}</p>
    </article> -->

    <html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ recipe.RecipeTitle }}</title>
</head>
<body>
    <h1>{{ recipe.RecipeTitle }}</h1>
    <p>Preparation Time: {{ recipe.PrepTime }} minutes</p>
    <p>Cooking Time: {{ recipe.CookTime }} minutes</p>
    {% with total_time=recipe.PrepTime|add:recipe.CookTime %}
    <p>Total Time: {{ total_time }} minutes</p>
    <img src="http://127.0.0.1:8000{{ recipe.RecipePhoto.url }}" alt="{{ recipe.RecipeTitle }}">
    
    <h2>Ingredients:</h2>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.Amount|floatformat:2 }}          {{ ingredient.type }}         {{ ingredient.name }}</li>
        {% endfor %}
    </ul>
    
    <h2>Steps:</h2>
    <ol>
        {% for step in recipe.steps.all %}
            <li>{{ step.description }}</li>
        {% endfor %}
    </ol>

    <h2>Nutritions:</h2>
    <ol>
        {% for ing in ings %}
            <li>{{ ing }}</li>
        {% endfor %}
    </ol>

{% endwith %}
</body>
</html>


{% endblock %}